/* Utils */
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

.card {
  background: var(--surface-card);
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: var(--content-border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .card-content {
    flex: 1;
    overflow: auto;
    position: relative;

    /* Custom scrollbar */
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--surface-400);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--surface-100);
      border-radius: 3px;
    }
  }
}

.p-toast {
  &.p-toast-top-right,
  &.p-toast-top-left,
  &.p-toast-top-center {
    top: 100px;
  }
}
